@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    
    .present & {
        -webkit-animation: fade-in 750ms ease;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes fade-through {
    0%, 100% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
}

.fade-through {
    opacity: 0;
    
    .present & {
        -webkit-animation: fade-through 1s ease;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes roll-easy {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: none;
        color: #fff;
    }
    100% {
        color: transparent;
        transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
    }
}

@keyframes roll-hard {
    0% {
        opacity: 0;
    }
    
    20% {
        opacity: 1;
        color: #fff;
        transform: none;
    }
    
    40%, 80% {
        color: transparent;
        transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
    }
    
    100% {
        color: transparent;
        transform: translate3d( 0px, 60px, -30px ) rotateX( -90deg );
    }
}

.roll-translate {
    display: inline-block;
    overflow: hidden;

    vertical-align: bottom !important;

    perspective: 500px;
    perspective-origin: 50% 50%;
    
    span {
        display: block;
        position: relative;
        padding: 0 2px;

        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        
        &:before {
            content: attr(data-translation);

            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            text-align: center;
            padding: 0 2px;
            overflow: visible;

            color: #fff !important;

            transform-origin: 50% 100%;
            transform: translate3d( 0px, -105%, 0px ) rotateX( 90deg );
        }
        
        &:after {
            content: attr(data-translation);

            display: block;
            padding: 0 2px;
            margin-top: -36px;
            overflow: hidden;
            color: transparent;
        }
    }
    
    
    
    &.correct span:before {
        color: green !important;
    }
    
    &.incorrect span:before {
        color: red !important;
    }
    
    &.easy {
        .present & span {
            -webkit-animation: roll-easy 1s ease;
            -webkit-animation-fill-mode: both;
        }
    }
    
    &.hard {
        
        span:before {
            transform: translate3d(0px, -105%, -60px) rotateX( 90deg );
        }
        
        span:after {
            transform: translate3d(0px, -105%, -30px) rotateX( 90deg );
            background-image:url(../img/default.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .present & span {
            -webkit-animation: roll-hard 2.5s ease;
            -webkit-animation-fill-mode: both;
        }
        
        &.impossible span:before {
            content:''
        }
    }
}

.posab {
    position: absolute;
}

@keyframes crawl {
    0% {
        transform: none;
    }
    
    100% {
        transform: translateY(-40000px);
    }
}

.the-crawl {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    .present & {
        -webkit-animation: crawl 10s linear;
        -webkit-animation-fill-mode: both;
        -webkit-animation-delay: 1s;
    }
}